<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BlueappsEntities" connectionString="metadata=res://*/Blueapps.csdl|res://*/Blueapps.ssdl|res://*/Blueapps.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=C665;initial catalog=db584cdaad4c6142f483aea131005ef73b;persist security info=True;user id=afpnuwiqanzfqlvl;password=FZ4UpncdHUJuRdGMpHrYJSkDh3kZMWFBhmQVjgCUkG5ds8667s6eja2WPyMvcjxT;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>